@model List<Lab.EF.MVC.Models.ShippersView>

@{
    ViewBag.Title = "Shippers";
}

<head>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>

<h1>Listado de Shippers</h1>

<table class="table table-striped custom-table">
    <tr>
        <th>CompanyName</th>
        <th>Phone</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>

    @for (var i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>
                <span id="companyName_@i">@Model[i].CompanyName</span>
                <input type="text" class="form-control" id="editCompanyName_@i" style="display: none;" />
            </td>
            <td>
                <span id="phone_@i">@Model[i].Phone</span>
                <input type="text" class="form-control" id="editPhone_@i" style="display: none;" />
            </td>
            <td>
                <button class="btn btn-primary edit-button" data-id="@i">Editar</button>
                <button class="btn btn-success save-button" data-id="@i" style="display: none;">Guardar</button>
                <button class="btn btn-danger cancel-button" data-id="@i" style="display: none;">Cancelar</button>
                <input type="hidden" id="shipperId_@i" value="@Model[i].ShipperID" />
            </td>
            <td>
                <button class="btn btn-danger delete-button" data-id="@i" data-shipperid="@Model[i].ShipperID">Eliminar</button>
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Crear Nuevo Shipper", "Insert", null, new { @class = "btn btn-primary" })
</p>

@section scripts {
    <script src="~/Scripts/ValidacionServicio.js"></script>
    <script src="~/Scripts/ShipperScript.js"></script>
}